#image {
  display: block;
  max-width: 100%;
  width: 650px;
  max-height: 400px;
  height: auto;
  margin: auto;
  border-radius: 8px;
  border: 5px solid gray;
}
h1 {
  text-align: center;
}
figcaption {
  margin-top: 5px;
  font-size: 18px;
  text-align: center;
}
main {
  border-radius: 17px;
  padding: 10px 35px 20px 35px;
  min-height: 1000px;
  height: auto;
  width: 760px;
  margin: auto;
  background-color: whitesmoke;
}
.timeline {
  text-align: center;
  font-size: 25px;
  margin: 50px 0;
}

li {
  line-height: 50px;
}
span {
  font-weight: bold;
}
body {
  font-family: Georgia, Arial, sans-serif;
}
.readmore {
  text-align: center;
  font-weight: bold;
}
a {
  color: red;
}
a:hover {
  color: khaki;
}
a:active {
  color: lightblue;
}
